html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;  
}
body{
  width: 100%;
  overflow-y: auto;
  font-size: 16px;
}
h3{
  font-size: 1.75em;
  font-weight: 600;
  margin: 1em 0;
  text-transform: uppercase;
  border-bottom: solid 5px #38a7bb;
  padding-bottom: .3em;
}
/* forms.less */
label {
  font-weight: normal;
}
ol{
  list-style: decimal;
  margin: 0 2em;
}
nav ul{
  margin-left: 0;
}
ul{
  list-style: circle;
  margin-left: 2em;
}


#bg, #overlay, #main{
  position: absolute;
}

#overlay{
  background-attachment: inherit;
}

#wrapper{
  position: relative;
  box-shadow: 0px 2px 3px rgba(0,0,0, 0.5);
}

.about{
  color: #222;
  margin: 4em 2em;
}
.about ul{
  margin: 1em 0 1em 2em;
}
.blog{
  color: #222;
}
.blog h1{
  font-size: 2.25em;
  font-weight: 600;
  margin: 1em 0;
  text-transform: uppercase;
}
.blog h2{
  font-size: 2em;
  font-weight: 600;
  margin: 1em 0;
  text-transform: uppercase;
}
.blog nav{
  width: 100%;
}
.blog nav a{
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.25em;
  text-decoration: none;
  margin: 1em;
}
.btn {
  color: #467fbf;
  background-color: #ffffff;
  border-color: #467fbf;

  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 0;

  display: block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #467fbf;
  margin: 0 auto;
  transition: all 0.2s ease-out;
}
.btn:hover,
.btn:focus,
.btn:active{
  background: #38a7bb;
  color: #ffffff;
  border-color: #38a7bb;
}
.btn-template-main:active,
.btn-template-main.active{
  background-image: none;
}
.btn-template-main .badge {
  color: #ffffff;
  background-color: #467fbf;
}
.contact{
  color: #222;
  margin: 4em 2em 1em;
}
.contact-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container{
  margin: 1em 2em;  
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  border-color: #467fbf;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 127, 191, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 127, 191, 0.6);
}
.form-group {
  margin-bottom: 20px;
  width: 50%;
}
.form-group.full{
  width: 100%;
}
.form-group input{
  width: 100%;
}
.form-group .pad-right{
  padding-right: 1.5em;
}
.form-group .pad-left{
  padding-left: 1.5em;
}
.form-group textarea{
  width: 100%;
  resize: vertical;
  min-height: 3em;
  max-height: 9em;
  color: #222;
}
.form-group label{
  display: block;
  width: 100%;
}

.posts{
  color: #222;
}



@media (max-width:600px) {
  #header nav a:before{
    font-size: 1.25em;
  }
  #header nav li {
    width: 3.35em;
  }
  .form-group{
    width: 100%;
  }
  .form-group .pad-right{
    padding: 0;
  }
  .form-group .pad-left{
    padding: 0;
  }
}