<h1 class="title"><span>About Me</span></h1>
<p>
  I am an SVP in Security Engineering working at <a href="https://www.citi.com/" target="_blank">Citibank</a>.
  Below are some highlights of my experience and current skill set. Visit <a href="https://www.linkedin.com/in/mneilsworld/" target="_blank">my LinkedIn</a> for more.
</p>
<ul>
  <li>
    Father of Two
  </li>
  <li>
    Slinging code for 18 years
  </li>
  <li>
    Used enough programming languages to forget some of them
  </li>
  <li>
    Always focused on Automation and Security
  </li>
  <li>
    Extensive use of cloud but primarily AWS
  </li>
  <li>
    Enjoy helping a team succeed, learn, and grow
  </li>
</ul>
<span>
  Bachelor's of Art in Communications and Art with a Minor in Marketing
  <br/>California State University, Bakersfield
</span>
