<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/extra.css">
    {{ with .Site.Params.favicon }}
     <link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
     <link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
    {{ end }}
	</head>
	<body class="blog">

    <nav class="site-nav">
      <div class="content">
          <a href="{{ .Site.BaseURL }}">Home</a>
          <a href="/post">Posts</a>
          <a href="/#contact">Contact</a>
      </div>
    </nav>

    <div class="container">
