
<a name="about" id="about"></a>
<h3>About Me</h3>
<p>
  I am currently working in the capacity of Technical Director of Product at 
  <a href="https://heliosinteractive.com" target="_blank">Helios Interactive</a> in the Portland, OR office. 
  Below are some highlights of my experience and current skill set. Please <a href="/michael-neil-cv.pdf">see my CV</a> and
  visit <a href="https://www.linkedin.com/in/mneilsworld/" target="_blank">LinkedIn</a> for more detailed information.
</p>
<ul>
  <li>
    13 years of experience developing applications
  </li>
  <li>
    Currently a JavaScript developer with some C#, Go, and Python
  </li>
  <li>
    Focus on back-end and microservices
  </li>
  <li>
    Extensive use of AWS
  </li>
  <li>
    Enjoy seeing a team succeed, learn, and grow
  </li>
  <li>
    Bachelor's of Art in Communications and Art with a Minor in Marketing at California State University, Bakersfield      
  </li>
</ul>
