
<a name="about" id="about"></a>
<h2 class="title"><span>About Me</span></h2>
<p>
  I am a SVP in Security Engineering working at <a href="https://www.citi.com/" target="_blank">Citibank</a>.
  Below are some highlights of my experience and current skill set. Visit <a href="https://www.linkedin.com/in/mneilsworld/" target="_blank">my LinkedIn</a> for more detailed information.
</p>
<ul>
  <li>
    Father of Two
  </li>
  <li>
    15 years of experience developing applications
  </li>
  <li>
    Use NodeJS, Python and Golang daily
  </li>
  <li>
    Focus on Automation and Infrastructure Security
  </li>
  <li>
    Extensive use of AWS
  </li>
  <li>
    Enjoy seeing a team succeed, learn, and grow
  </li>
  <li>
    Bachelor's of Art in Communications and Art with a Minor in Marketing at California State University, Bakersfield
  </li>
</ul>

<p>
  I've also <a href="/post">written some blog posts</a> at irregular intervals.
</p>
